#coordenadas { 
    display: flex;
    flex-direction: column;
}

.eixo-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


label {
    font-family: Mohave;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #A0A0A6;
}

.eixo {
    background: #FDFDFD;
    border: 1px solid #BDBDC7;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.eixo:focus { 
    outline-width: 0;
}

.zeroPeca-container { 
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    max-width: 450px;
}

span { 
    font-family: Mohave;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #A0A0A6;
    min-width: 100px;
    height: 100%;
}