.btn-excluir {
    width: 100px;
    height: 50px;

    border-radius: 25px;
    background-color: #A62727;

}

.btn-excluir:hover {
    transition: filter .5s;
    filter: brightness(0.85);
}

.btn-excluir:focus{
    box-shadow: none !important;
}
