.Item-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
}

.novoponto-label {
    margin: 0 15px;
    font-size: 25px;
}

.novoponto-input {
    margin-left: 10px;
    max-width: 80px;
    max-height: 50px;
    border-radius: 15px;
    text-align: center;
}

.zero-peca {
    margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}