.formInput{
    height: 50px;
    width: 145px;
    background: #FDFDFD;
    border: 1px solid #BDBDC7;
    box-sizing: border-box;
    border-radius: 25px !important;
}

.form{
    display: flex;
    justify-content: space-between;
    max-width: 1236px ;
    min-width: 900px;
}

.contenForm{
   display: flex;
   justify-content: center; 
   position: relative;
}

.eixo{
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 0;
    color: #A0A0A6;
}

.input{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
