.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #dff3ed;
    box-shadow: 0 10px 20px #dff3ed;
}

.logoLink {
    height: 100%
}