@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
body {
    font-family: 'Barlow Condensed', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
}

.btn-invisivel {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
}

.btn-primary {
    font-family: 'Barlow Condensed', sans-serif;
    background: #5f8378;
    font-size: 25px;
    border: none;
    margin: 0 auto 40px auto;
    color: white;
}

.container {
    max-width: 900px;
}