.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-main {
    max-width: 422px;
    max-height: 427px;
    background: #a8a8a8;
    z-index: 2;
    position: absolute;
    top: 120px;
    
}