#section-grafico{
    max-width: 650px;
    display: flex;
    align-content: center;
    align-items: center;
}

.grafico { 
    width: 650px !important;
}

.button-container{
    margin: 15px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.button-container Button, a{
    height: 50px;

    text-align: center;
}